<header class="container">
  <h1>Angular Testing</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime repellendus
    quos dolorum consequatur eum? Rem quas eligendi distinctio accusamus eaque
    ipsa ad autem quos quibusdam, architecto repellat voluptas tempora, fugiat
    sunt consequatur esse temporibus quia facere voluptatem aliquid doloremque
    minima iure reprehenderit. Error culpa nihil ratione corporis. Quo, nulla
    soluta. A error mollitia praesentium ullam architecto incidunt tempore, vero
    aliquid. Porro autem consequatur quae blanditiis, eum nihil amet dignissimos
    fugiat, accusantium cumque quam ea veritatis magni praesentium facere
    ducimus impedit non mollitia ut quos itaque perspiciatis! Architecto
    similique, adipisci ipsam exercitationem voluptatem voluptatum, nesciunt vel
    fuga quibusdam dolorum odio. Consequuntur?
  </p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
